In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd
import numpy as np
import requests
import os
import time

# 2016 General Election Votes by Candidate (Office Name, # Votes, Party Affiliation)

In [6]:
file_to_load = "/Users/deanna/Desktop/ETL_project/GE_2016_Votes.csv"
vote_data_df = pd.read_csv(file_to_load, encoding='cp1252')
vote_data_df

,Election,OfficeName,VoteFor,BallotGroup,OfficeSequence,CandidateID,CanFirstName,CanLastName,CanAffilCommit,Votes,PartyName,PartyAbbrev
0,GE 2016,100TH REPRESENTATIVE,1,J,2100,22529,"CHRISTOPHER ""C.D.""",DAVIDSMEYER,NaN,41488,REPUBLICAN,REP
1,GE 2016,101ST REPRESENTATIVE,1,J,2101,22530,CHRISTINE,LAW,NaN,13661,DEMOCRATIC,DEM
2,GE 2016,101ST REPRESENTATIVE,1,J,2101,22531,BILL,MITCHELL,NaN,41728,REPUBLICAN,REP
3,GE 2016,102ND REPRESENTATIVE,1,J,2102,22532,BRAD,HALBROOK,NaN,42559,REPUBLICAN,REP
4,GE 2016,103RD REPRESENTATIVE,1,J,2103,22533,CAROL,AMMONS,NaN,34071,DEMOCRATIC,DEM
...,...,...,...,...,...,...,...,...,...,...,...,...
644,GE 2016,10TH SENATE,1,J,110,23212,JONATHON,LUERS,NaN,13,NaN,NaN
645,GE 2016,COOK - 1ST SUBCIRCUIT - HOPKINS VACANCY,1,LC,120,23213,MARYAM,AHMAD,NaN,884,NaN,NaN
646,GE 2016,PRESIDENT AND VICE PRESIDENT,1,A,1,23217,LAURENCE,KOTLIKOFF,NaN,82,NaN,NaN
647,GE 2016,PRESIDENT AND VICE PRESIDENT,1,A,1,23218,DARRELL,CASTLE,NaN,1138,NaN,NaN
648,GE 2016,PRESIDENT AND VICE PRESIDENT,1,A,1,23220,MARSHALL ROY,SCHOENKE,NaN,25,NaN,NaN

In [7]:
vote_df = vote_data_df[['Election','OfficeName','CandidateID','CanFirstName','CanLastName','Votes','PartyAbbrev']].copy()
vote_df.head()

,Election,OfficeName,CandidateID,CanFirstName,CanLastName,Votes,PartyAbbrev
0,GE 2016,100TH REPRESENTATIVE,22529,"CHRISTOPHER ""C.D.""",DAVIDSMEYER,41488,REP
1,GE 2016,101ST REPRESENTATIVE,22530,CHRISTINE,LAW,13661,DEM
2,GE 2016,101ST REPRESENTATIVE,22531,BILL,MITCHELL,41728,REP
3,GE 2016,102ND REPRESENTATIVE,22532,BRAD,HALBROOK,42559,REP
4,GE 2016,103RD REPRESENTATIVE,22533,CAROL,AMMONS,34071,DEM

In [8]:
vote_df['CandidateName'] = vote_df['CanFirstName'] +" "+ vote_df['CanLastName']
vote_df.head()

,Election,OfficeName,CandidateID,CanFirstName,CanLastName,Votes,PartyAbbrev,CandidateName
0,GE 2016,100TH REPRESENTATIVE,22529,"CHRISTOPHER ""C.D.""",DAVIDSMEYER,41488,REP,"CHRISTOPHER ""C.D."" DAVIDSMEYER"
1,GE 2016,101ST REPRESENTATIVE,22530,CHRISTINE,LAW,13661,DEM,CHRISTINE LAW
2,GE 2016,101ST REPRESENTATIVE,22531,BILL,MITCHELL,41728,REP,BILL MITCHELL
3,GE 2016,102ND REPRESENTATIVE,22532,BRAD,HALBROOK,42559,REP,BRAD HALBROOK
4,GE 2016,103RD REPRESENTATIVE,22533,CAROL,AMMONS,34071,DEM,CAROL AMMONS

In [24]:
import sqlalchemy

In [25]:
from sqlalchemy import create_engine

In [26]:
# username:password@host:port/database
engine = sqlalchemy.create_engine('postgres://postgres:postgres@localhost:5432/IL_Voting')
vote_df.to_sql('Vote', engine)

In [ ]:
#vote_df.to_csv('votes.csv')

# Expenditures by Candidate

In [17]:
exp_file_to_load = "/Users/deanna/Desktop/ETL_project/Data/IL_Financials/Expenditures.csv"
tab_expenditures_data_df = pd.read_csv(exp_file_to_load, encoding='cp1252', sep='\t', lineterminator='\r', error_bad_lines=False, warn_bad_lines=False)
tab_expenditures_data_df.head()

,ID,CommitteeID,FiledDocID,ETransID,LastOnlyName,FirstName,ExpendedDate,Amount,AggregateAmount,Address1,...,Zip,D2Part,Purpose,CandidateName,Office,Supporting,Opposing,Archived,Country,RedactionRequested
0,1267,12478.0,169182.0,NaN,Sykes,George,1999-03-01 00:00:00,300.0,300.0,3524 Johnson Rd.,...,62040,6B,contribution,NaN,NaN,False,False,True,NaN,False
1,1268,4294.0,170584.0,NaN,Regular Cicero Democratic Organization,NaN,1999-02-25 00:00:00,160.0,160.0,5838 W. Cermak Rd.,...,60804,6B,ticket purchase,NaN,NaN,False,False,True,NaN,False
2,1269,7103.0,171179.0,NaN,UNITED - 4 - PROGRESS,NaN,1999-03-11 00:00:00,5000.0,5000.0,P. O. BOX 506,...,60131,6B,TRANSFER OUT,NaN,NaN,False,False,True,NaN,False
3,1270,13710.0,171890.0,NaN,12th Ward regular Democratic Organization,NaN,1999-02-05 00:00:00,2000.0,2000.0,2456 W. 38th Street,...,60632,6B,NaN,NaN,NaN,False,False,True,NaN,False
4,1271,13710.0,171890.0,NaN,32nd Ward Regular Democratic Organization,NaN,1999-02-04 00:00:00,300.0,300.0,2150 N. Damen Avenue,...,60622,6B,NaN,NaN,NaN,False,False,True,NaN,False

In [18]:
trim_expenditures_df = tab_expenditures_data_df[['ID', 'CommitteeID', 'CandidateName','LastOnlyName','ExpendedDate',
                                                 'Amount','Zip','Purpose']].copy()
trim_expenditures_df.head()

,ID,CommitteeID,CandidateName,LastOnlyName,ExpendedDate,Amount,Zip,Purpose
0,1267,12478.0,NaN,Sykes,1999-03-01 00:00:00,300.0,62040,contribution
1,1268,4294.0,NaN,Regular Cicero Democratic Organization,1999-02-25 00:00:00,160.0,60804,ticket purchase
2,1269,7103.0,NaN,UNITED - 4 - PROGRESS,1999-03-11 00:00:00,5000.0,60131,TRANSFER OUT
3,1270,13710.0,NaN,12th Ward regular Democratic Organization,1999-02-05 00:00:00,2000.0,60632,NaN
4,1271,13710.0,NaN,32nd Ward Regular Democratic Organization,1999-02-04 00:00:00,300.0,60622,NaN

In [19]:
expenditures_df = trim_expenditures_df.dropna()
expenditures_df.head()

,ID,CommitteeID,CandidateName,LastOnlyName,ExpendedDate,Amount,Zip,Purpose
2032363,2059922,18574.0,Maretta Brown-Miller,Mission Control,2011-02-14 00:00:00,3103.54,06250,Mailing to voters
2032364,2059923,18574.0,Scott Waguespack,Mission Control,2011-02-14 00:00:00,4136.96,06250,Mailing to voters
2032365,2059924,18574.0,Danny Solis,Mission Control,2011-02-14 00:00:00,4578.95,06250,Mailing to voters
2032366,2059925,18574.0,Freddrenna Lyle,Mission Control,2011-02-14 00:00:00,3126.56,06250,Mailing to voters
2032367,2059926,18574.0,George Cardenas,Mission Control,2011-02-14 00:00:00,3438.50,06250,Mailing to voters

In [20]:
# convert Datetime stamp to Date and make new column with year
expenditures_df['ExpendedDate'] = pd.to_datetime(expenditures_df['ExpendedDate'].str.split().map(lambda x:x[0]))
expenditures_df.head()

,ID,CommitteeID,CandidateName,LastOnlyName,ExpendedDate,Amount,Zip,Purpose
2032363,2059922,18574.0,Maretta Brown-Miller,Mission Control,2011-02-14,3103.54,06250,Mailing to voters
2032364,2059923,18574.0,Scott Waguespack,Mission Control,2011-02-14,4136.96,06250,Mailing to voters
2032365,2059924,18574.0,Danny Solis,Mission Control,2011-02-14,4578.95,06250,Mailing to voters
2032366,2059925,18574.0,Freddrenna Lyle,Mission Control,2011-02-14,3126.56,06250,Mailing to voters
2032367,2059926,18574.0,George Cardenas,Mission Control,2011-02-14,3438.50,06250,Mailing to voters

In [21]:
expenditures_df['Year'] = expenditures_df['ExpendedDate'].dt.year
expenditures_df.head()

,ID,CommitteeID,CandidateName,LastOnlyName,ExpendedDate,Amount,Zip,Purpose,Year
2032363,2059922,18574.0,Maretta Brown-Miller,Mission Control,2011-02-14,3103.54,06250,Mailing to voters,2011
2032364,2059923,18574.0,Scott Waguespack,Mission Control,2011-02-14,4136.96,06250,Mailing to voters,2011
2032365,2059924,18574.0,Danny Solis,Mission Control,2011-02-14,4578.95,06250,Mailing to voters,2011
2032366,2059925,18574.0,Freddrenna Lyle,Mission Control,2011-02-14,3126.56,06250,Mailing to voters,2011
2032367,2059926,18574.0,George Cardenas,Mission Control,2011-02-14,3438.50,06250,Mailing to voters,2011

In [22]:
# filter to 2016 
expendtures_2016_df = expenditures_df.loc[expenditures_df['Year'] == 2016]
expendtures_2016_df.head()

,ID,CommitteeID,CandidateName,LastOnlyName,ExpendedDate,Amount,Zip,Purpose,Year
2945186,2997985,24614.0,Bryce Benton,Strategic Media Services,2016-01-20,316960.00,22209,Advertising - television,2016
2945187,2997986,24614.0,Bryce Benton,Targeted Creative Communications,2016-01-21,8753.12,22314,Mailing,2016
2945197,2997996,292.0,Sara Wojcicki Jimenez,Targeted Creative Communications,2016-01-22,5996.02,22314,Mailing,2016
2945198,2997997,292.0,Avery Bourne,Targeted Creative Communications,2016-01-22,4711.72,22314,Mailing,2016
2945464,2998263,29581.0,KEN DUNKIN,RESOLUTE CONSULTING LLC,2016-01-19,18208.80,60601,Mailing,2016

In [27]:
engine = sqlalchemy.create_engine('postgres://postgres:postgres@localhost:5432/IL_Voting')
expendtures_2016_df.to_sql('expenditures_2016', engine)